.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  color: var(--color-white);
}

.location {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body-bold);
  color: var(--color-highlight);
}
