.wrapper {
  text-decoration: none;
}

.link {
  background: var(--color-grey);
  padding: 12px;
  width: 100%;
  color: var(--color-white);
  text-align: center;
  border-radius: 8px;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body-bold);

  .wrapper:hover & {
    background: var(--color-highlight);
    color: var(--color-grey);
  }
}
